:root{
    --primary-text: #f1f1f1ff;
    --secondary-text: #0c0c0cff;
}

.carousel-img{
    position: relative;
}

.carousel-img:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    /* Adjust the opacity as needed */
    z-index: 99;
}

.custom-caption {
    position: absolute;
    top: 50%;
    color: var(--primary-text);
    bottom: 0;
    margin: 0;
}
.custom-caption>h1, .custom-caption > p{
    text-shadow: 4px 4px 4px var(--secondary-text);
}