.containercontact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.formcontact {
    margin:0    ;
    border-radius: 1rem;
}

.formcontact p {
    
    font-size: 16px;
    color: black
}

.formcontact .required-field::after {
    content: "*";
    color: red;
    margin-left:2px
}

.imagesellwithus{
    width: 70% ;
    border-radius: 15px;
    margin: 0;
    padding: 0 ;

}

.divsellwithus{
    justify-content: center;
    align-items: center;
    margin: 1rem 0 5rem 0;
    padding: 0;
}
.divsellwithus > div{
    margin: 2rem;
    padding: 0;
}
